<% provide(:title, "Edit user") %>
<h1>Update your profile</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name, "Όνομα" %>
      <%= f.text_field :name, class: 'form-control' %>

        <%= f.label :image %><br>
        <%= f.file_field :image %>

      <%= f.label :school %>
      <%= f.select(:school, User.all.collect {|p| [ p.school, p.id ] }, {}, { multiple: true , class: "chosen-select form-control" })%>
    

      <%= f.label :surname, "Επίθετο" %>
      <%= f.text_field :surname, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :date_of_birth %>
      <%= f.date_field :date_of_birth, class: 'form-control' %>

      <%= f.label :is_female, "Gender" %>
      <%= f.select :is_female, User::GENDER_TYPES, class: 'form-control' %>

      <%= f.label :hometown, "Πόλη" %>
      <%= f.text_field :hometown, class: 'form-control' %>

      <%= f.label :school, "Σχολείο" %>
      <%= f.text_field :school, class: 'form-control' %>

      <br><br><br>


      <p>Σημ. Προσθέστε password μονο αν θέλετε να το αλλάξετε </p>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>